<!DOCTYPE html>
<html lang="en">

<head>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous">
    </script>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles.css') }}">
    
    <script type="text/javascript" src="{{ url_for('static',filename='main.js') }}"></script>

    <meta charset="UTF-8">
    
    <title>RGD</title>
</head>

<body>

    <h1>the random gif dictionary</h1>



    <div class="content">

        <h3> {{word}} </h3>

        <p> {{definition}} </p>
        
        
        <!-- <iframe src="{{gifURL}}"></iframe> -->
        <img src="../static/ti84.png">
     
        <button type="button" onClick="reloadThePage()">new word</button>
        
    </div>
</body>

</html>